<div id="<%= dom_id course %>">
<div class="border m-2">
    <div class="text-xl p-2">
        <h1 class="font-bold"><%= course.title %></h1>
    </div>
    <div class="border m-2 p-2">
        <%= truncate(strip_tags(course.content.to_s.html_safe), length: 700) %>
    </div>
</div>

  <% if action_name != "show" %>
    <%= link_to "Show this course", course, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this course', edit_course_path(course), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
